/*================== 
  basic style
===================*/

html, body {
  padding: 0;
  margin: 0;
  background: #eee;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  font-size: calc(14px + 0.4vw)
}

::selection {
  /* color: violet; */
  background: violet;
  color: #fff;  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

/*====================
    layout style 
 ====================*/
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid #eee;
  background: #fff;
}

nav {
  flex-basis: 0 0 150px;
  margin-left: auto; 
}

nav li {
  padding: 0.5em;
  margin: 0.5em;
}

#nav-items {
  display: flex;
  justify-content: center;
  position: relative;
  
}

.open {
  transform: translateX(350px);
  width: 80%;
  height: 100vh;
}


header > :nth-child(3) {
  flex-basis: 0 1 40px;
}

.menu {
  position: relative;
  display: inline-block;
  height: 100%;
  padding: 1.1em 0.5em;
  transition: 0.3s ease-in-out;
}

.menu:hover {
  color: orange;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 58px;
  left:  -20px;
  border: 1px solid #eee;
  width: 150px;
  z-index: 1;
  background: #fff;
  border-top: 4px solid orange;
  opacity: 0;
  animation: reveal 0.4s linear;
  color: #555;
}

.sub-menu li {
  position: relative;
  left: 0px;
  animation: move;
  transition: 0.4s;
}

.sub-menu li:hover {
  color: orange;
  left: 4px;
}

@keyframes move {
  0% {
    left: 0;
  }

  100% {
    left: 4px;
  }
}

.menu:hover .sub-menu {
  display: block;
  opacity: 1;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.sub-menu li {
  display: block;
  border-bottom: 1px solid #eee;
  font-size: 0.9em;
  text-align: left;
}

header img {
  width: 50px;
  height: 50px;
}

#hamburger {
  position: absolute;
  left: 45%;
  top: 10px;
  z-index: 20;
  cursor: pointer;
  display: none;

}

.bar {
  width: 30px;
  height: 5px;
  background: #555;
  margin: 5px;
}

#input {
  transition: 0.4s;
  width: 200px;
  height: 30px;
  margin-left: 1em;
  margin-right: -0.5em;
  padding: 0.5em;
  animation: extend 0.4s;
}

@keyframes extend {
  0% {
    width: 0px;
  }

  100% {
    width: 200px;
  }
}

.search {
  margin-left: 2em;
  cursor: pointer;
}

.search span{
  margin: 1em;
}

#avatar {
  display: flex;
  align-items: center;
  margin: 2em;
  position: relative;
  left: 2.5em;
}

#avatar span {
  margin: 0.5em;
}

#avatar img {
  border-radius: 50%;
  margin: 0.5em;
}

#avatar a:first-of-type {
  font-size: 1.5em;
}

#avatar > a:nth-of-type(2) {
  font-size: 1.5em;
}

#notification_num {
  width: 20px;
  height: 20px;
  background: #75c5ec;
  border-radius: 50%;
  color: white;
  position: relative;
  right: 40px;
  top: 15px;
  font-size: 0.6em;
}

/*====================
  content
====================*/

.hero {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.5em;
  margin: auto; 
  width: 99%;
  
}

.left_section {
  width: 25%;
  padding: 0.5em;
  background: #fff;
  /* max-height: 380px; */
  margin-top: 1em;
  min-height: 50vh;
}

.right_section {
  width: 74%;;
  padding: 0.5em;
  background: #fff;
  margin-top: 1em;
  min-height: 50vh;
}

/* ===============
  section: main info
=============== */

#main_info {
  display: flex;
  justify-content: space-between;
  background: #fff;
  width: 100%;
  padding: 1em;
}

#info_wrapper {
  display: flex;
  margin-left: 15px;
}

#hero_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: 0 0.5em;
  
}

#hero_info_inner p:not(:first-of-type) {
  margin-top: 10px;
}

#hero_img {
  max-width: 150px;
}
#contact {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.follow_btn {
  margin-right: 50px;
  background: #66cef0;
  padding: 0.4em;
  border-radius: 0.6em;
  color: #fff;
  font-size: 18px;
}

#message {
  margin-right: 7px;
  font-size: 17px;
}


#statics{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
}

.row {
  display: flex;
}
.number {
  min-width: 70px;
  min-height: 70px;
  margin: 10px;
  background: #eee;
  padding: 1em;
  text-align: left;
}

.number span {
  display: block;
}

.number span:first-of-type {
  color: #000;
}

.number span:last-of-type {
  font-size: 0.7em;
}


/* ===================
  section: about
===================== */
#about {
  margin-left: auto; 
  order: 2;
}

#about h2 {
  font-weight: normal;
  text-align: left;
  margin-bottom: 0.5em;
}

#about p:nth-of-type(1) {
  font-size: 0.9em;
}


#about p:nth-of-type(2) {
  display: none;
}
#view-more a {
  margin: 0.2em;
  font-size: 0.9em;
}

#view-more > a > i {
  color: #46a8d7;
  font-size: 1.7em;
  position: relative;
  top: 4px;
}
/* ==================
  section: research interests
==================== */
#interests {
  order: 1;
}

#all-interests {
  /* display: flex;
  align-items: center;   
  flex-wrap: wrap;
  padding: 1em;
  position: relative;
  bottom: 30px;
  right: 20px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#interests h2 {
  font-weight: normal;
  text-align: left;
  position: relative;
  left: 10px;
  margin-bottom: 0.5em;
}

#interests span{
  border: 1px solid #eee;
  border-radius: 2em;
  background: #eee;
  margin: 1em ;
  padding: 0.5em;
  min-width: 6em;
  font-size: 0.8em;
  width:20%;
}

/* ===============
  section: followers
================ */

#followers {
  order: 3;
  max-height: 350px;
  /* padding: 1em; */
  text-align: left;
  font-size: 0.7em;

}

#followers-list {
  overflow-y: scroll;
  height: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.follower {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
}

#follower-details {
  display: flex;
  align-items: center;
  text-align: left;
}

#follower-identity {
  padding: 0.2em;
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
}

#follower-identity a:first-of-type {
  color: blue;
}

#follower-img {
  max-width: 50px;
}

#follow-btn {
  margin-right: 0.4em;
}

#follow-btn a{
 display: flex;
 flex-direction: column;
 align-items: center;
 font-weight: 700; 
 background: #24d324;
 color: #fff;
 padding: 0.4em;
 border-radius: 10px; 
}

/* ========================
  section: publications
========================= */

#publications {
 order: 4;
 margin-top: 1em;
 display :flex;
 flex-direction: column;
 justify-content: space-between;  
}

#heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#publication {
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 80%;
}

#publication i {
  font-size: 2em;
}

#publication-details {
  font-size: 0.8em;
  text-align: left;
  margin: 1em 0 0 1em;
}

#publication-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
  margin-top: 1em;
  font-size: 0.85em;
  padding: 0 25px;
}

#publications-num {
  flex: 0 0 15%;
  border-bottom: 2px solid #eee;
}

#publications-num a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#publications-num a i {
  font-size: 1.5em;
  color: #0072ff; 
}

#save-ref {
  margin-left: 2em;
  flex-grow: 1;
  text-align: left;
}

#full-text {
  text-align: left;
  flex-grow: 2;
}

#save-ref i {
  color: #0072ff;
  margin-right: 5px;
}

#publication-details h2 {
  font-family: 'Times New Roman', Times, serif;
}

#full-text i {
  transform: rotate(-45deg);
  color: #0072ff;
  margin-right: 5px;
}
/* ===================
  footer
====================== */

#footer {
  width:100%;
  height: 200px;
  background: #fff;
  position: relative;
  bottom: 0;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer span {
  font-weight: 700;
}

#contact-me i  {
  margin: 1em;
  font-size: 1.5em;
  transform: rotate(-45deg);
  transition-duration: 0.4s;
  /* color: #9d00ff; */
}

#contact-me i:hover {
  transform: rotate(0)
}


/* ====================
  responsive
======================== */

/* ------header----- */

@media(max-width: 1150px) {
  #all-interests {
    flex-direction: column;
  }

  #all-interests span {
    width: 90%;
    margin: 1em auto;
  }

  #followers {
    order: 5;
    width: 100%;
    overflow-y: hidden;
  }

  #follow-btn {
    margin: 1em 0;
  }

  #followers-list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:87%;
    overflow-y: hidden;
    overflow-x: scroll; 
  }

  #follower-img{
    max-width: 100px;
  }

  #follower-details {
    flex-direction: column;
  }

  .follower {
    flex-direction: column;
    width: 30vw;
    justify-content: center;
    font-size: 1.2em;
  }


  #publications {
    width: 100%;
  }

  

  #logo {
    order: 0;
  }

  #avatar {
    order: 1;
  }

  nav {
    order: 2;
    width: 100%;
    margin: auto;

  }

  .search {
    order: 3;
    width: 80%;
    margin:0.5em auto;
    width: 80%;
  }

}

@media (max-width: 550px) {
  #hamburger {
    display: block;
  }

  #nav-items {
    position: absolute;
    left: -350px;
    flex-direction: column;
    transition: 0.3s;
    text-align: left;
    background: lightgreen;
    color: white;
    /* transform: translateX(-500px); */
  }

  /* .search {
    order: 1;
  } */

  .follower {
    width: 40vw;
  }

}

@media (max-width: 992px) {
  
  #info_wrapper {
    width: 90%;
    margin: auto;
  }

}

@media (max-width: 768px) {

 .left_section{
   width: 100%;
 }

 .right_section {
   width: 100%;
 }

  #main_info {
    flex-direction: column;
  }

  #statics {
    margin: 2em auto 0;
    flex-direction: row;
}

.row {
    margin: auto;
}
}

@media(max-width: 550px) {
   
   #info_wrapper {
    flex-direction: column;
    align-items: center;
   }

   #hero_info {
     width: 100%;
   }

   #hero_info h2 {
     margin: auto;
   }

   #contact {
     margin: 20px 0;
   }
 
 }
 